language: php

sudo: false

cache:
  directories:
    - "$HOME/.composer/cache"

env:
  - COMPOSER_FLAGS="--prefer-stable"

php:
    - '7.2'
    - '7.3'
    - nightly

matrix:
  include:
    - php: 7.2
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.2
      env: COMPOSER_FLAGS=""
    - php: 7.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.3
      env: COMPOSER_FLAGS=""
  allow_failures:
    - php: nightly

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony:${SYMFONY_VERSION}; fi

install: composer update $COMPOSER_FLAGS --prefer-dist

script: vendor/bin/phpunit
