<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi                     = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation = "http://schema.phpunit.de/7.2/phpunit.xsd"
        bootstrap                     = "vendor/autoload.php"
        colors                        = "true"
>
    <php>
        <server name="KERNEL_DIR" value="test/Fixture"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors"/>
    </php>
    <testsuites>
        <testsuite name="WebpackBundle - Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
